<div class="jumbotron">
  <h1><%= @song.name %></h1>
  <img src="<%= @song.coverurl %>">
  <h3>By: <a href="/artists/<%=@artist.id%>"><%=@artist.name%></a></h3>
</div>

<a href="/songs/<%= @song.id %>/edit">Edit</a> |
<a href="/songs/<%= @song.id %>/destroy">Destroy</a> |
<a href="/">Home</a>
